<?xml version="1.0" encoding="UTF-8"?>
<SystemProperties>
  <SystemName>15000-100072</SystemName>
  <SerialNo>15000-100072</SerialNo>
  <UsedMedia>
    <Media path="RobotOS_4.1.0" name="RobotOS" version="4.1.0+0" versionName="4.1.0"/>
    <Media path="RobotControl_7.5.2" name="RobotControl" version="7.5.2+167" versionName="7.5.2"/>
    <Media path="Wizard_1.3.2" name="Wizard" version="1.3.2" versionName="1.3.2"/>
    <Media path="Robots_1.5.1" name="Robots" version="1.5.1+32" versionName="1.5.1"/>
    <Media path="ASI_1.0.5" name="ASI" version="1.0.5" versionName="1.0.5"/>
    <Media path="Apps_1.7.1" name="FlexPendantSoftwareUpdate" version="1.7.1+0" versionName="1.7.1"/>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotControl Base"/>
    <Option descr="3024-1 EtherNet/IP Scanner"/>
    <Option descr="3024-2 EtherNet/IP Adapter"/>
    <Option descr="3121-1 RW Add-In Prepared"/>
    <Option descr="3119-1 RobotStudio Connect"/>
    <Option descr="3106-1 World Zones"/>
    <Option descr="3113-1 Path Recovery"/>
    <Option descr="3107-1 Collision Detection"/>
    <Option descr="3150-1 Collision Avoidance"/>
    <Option descr="3120-2 FlexPendant Essential App Package"/>
    <Option descr="3151-1 FlexPendant Program Package"/>
    <Option descr="3114-1 Multitasking"/>
    <Option descr="3124-1 Externally Guided Motion (EGM)"/>
    <Option descr="UDPUC Driver"/>
    <Option descr="3043-3 SafeMove Collaborative"/>
    <Option descr="3044-2 Keyless Mode Switch, 2 modes"/>
    <Option descr="Leadthrough"/>
    <Option descr="Safe Move Plug and Play"/>
    <Option descr="No Category 0"/>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Motor Commutation"/>
    <Option descr="Service Info System"/>
    <Option descr="C30 for CRB 15000"/>
  </DriveModule>
  <AdditionalOption>
    <Name>Wizard</Name>
    <Option descr="Wizard"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>Robots</Name>
    <Option descr="CRB 15000-5/0.95"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>ASI</Name>
    <Option descr="ASI"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>FlexPendantSoftwareUpdate</Name>
    <Option descr="FlexPendant App Package"/>
  </AdditionalOption>
</SystemProperties>
