EIO:CFG_1.0:7:0::
#
ETHERNETIP_NETWORK:

      -Name "EtherNetIP" -Label "EtherNet/IP Network"
#
ETHERNETIP_INTERNAL_DEVICE:

      -Name "EN_Internal_Device" -Label "EtherNet/IP Internal Adapter Device"

#CTRL_SIGNATURE:SfFBQ91hcnOjDqKF24nEFMP5WOx3/EbytqaYyn4dYGKFfINua7vbUdFzBtQ3YbG/KNtHxLgK8Ny20k+/yG5Dzg==